@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

.success{
	color:@brand-success;
}
.warning{
	color:@brand-warning;
}
.primary{
	color:@brand-primary;
}

.absolute{	position: absolute; }
.relative{	position: relative; }
.fixed{	position: fixed; }

.txt-center{text-align: center;}
.txt-right{text-align: right;}
.txt-left{text-align: left;}

.nolist{
	margin:0;
	padding:0;
	list-style: none;
}

.bottom{bottom: 0;}

.pointer{
	cursor: pointer;
}

.w100{width:100%;}
.h100{height:100%;}

.vertalign{
	top:50%; 
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hortalign{
	left:50%; 
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.totalalign{
	top:50%; 
	left:50%; 
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.prop100{
	content:"";
	display: block;
	padding-top: 100%;
}

.circle{
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
}

.bgfull{
	background-repeat:no-repeat;
	background-position:center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bgcontain{
	background-repeat:no-repeat;
	background-position:center center; 
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.block{
	display: block;
}

.inline-block{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}

.transition(@property, @time, @effect){
	-webkit-transition: @property @time @effect;
	-moz-transition: @property @time @effect;
	-ms-transition: @property @time @effect;
	-o-transition: @property @time @effect;
	transition: @property @time @effect;
}

.brdr-rad-2{
	.border-radius(2px, 2px, 2px, 2px);
}
.brdr-rad-3{
	.border-radius(3px, 3px, 3px, 3px);
}
.brdr-rad-4{
	.border-radius(4px, 4px, 4px, 4px);
}
.brdr-rad-5{
	.border-radius(5px, 5px, 5px, 5px);
}

.btn-black {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  color: #ffffff;
  background-color: #232628;
  border-color: #1e2023;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  background-image: none;
}
.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled.focus,
.btn-black[disabled].focus,
fieldset[disabled] .btn-black.focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #222222;
  border-color: #222222;
}
.btn-black .badge {
  color: #222222;
  background-color: #ffffff;
}

.btn-black {
  background-image: -webkit-linear-gradient(#222222, #222222 60%, #111111);
  background-image: -o-linear-gradient(#222222, #222222 60%, #111111);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), color-stop(60%, #222222), to(#111111));
  background-image: linear-gradient(#222222, #222222 60%, #111111);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  -webkit-filter: none;
          filter: none;
}
.btn-black:hover {
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#191b1d));
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
  -webkit-filter: none;
          filter: none;
}
