@media only screen and (max-width : 639px) {
	.boxes-balance{
		margin-bottom: 10px;
		.btn{
			display: block;
			margin-bottom:4px;
		}
	}
}

@media only screen and (max-width : 767px) {
	header{
		&.header-welcome{
			nav{
				ul{
					li{
						&.login{
							span{
								display: none;
							}
							i[class*="fa-1x"]{
								display: none;
							}
						}
					}
				}
			}
		}
	}
	.graph-status{
		width: 50%;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width : 900px) {
	.travel-items{
		.elem-item{
			width: 98%;
			margin:1%;
		}
	}
}
@media only screen and (max-width : 800px) {
	.operation-items{
		.elem-item{
			width: 98%;
			margin:1%;
		}
	}
}
@media only screen and (max-width : 1000px) {
	.operation-items, .travel-items{
		.elem-item{
			.box{
				a{
					.budget{
						.item{
							p{
								font-size: 1.4rem;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width : 768px) {
	header{
		&.header-welcome{
			nav{
				ul{
					li{
						&.login{
							i[class*="fa-2x"]{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}