// @import url('../bootstrap/bootstrap.less');
@import url('elements.less');
@import url('slate-bootstrap.min.less');
@import url('helpers.less');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body{
	font-family: 'Open Sans', helvetica, sans-serif, arial;
}
hr{
	border-top: 1px solid rgba(255,255,255,.15);
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', helvetica, sans-serif, arial;
	margin-top: 0;
	font-weight: lighter;
}

@gray-blue:#272b30;
@black-blue:#1c1e22;

@header-height-normal:90px;
@header-height-slim:65px;

header{
	&.header-welcome{
		position: fixed;
		top:0;
		.w100;
		z-index: 3;
		background: darken(@gray-blue, 8%);
		border-bottom: 1px solid @gray-blue;
		.container-fluid{
			.transition(.5s);
			&.normal-h{
				height: @header-height-normal;
			}
			&.slim-h{
				height: @header-height-slim;
			}
			.relative;
			.logo{
				.absolute;
				.vertalign;
				left: 40px;
				img{
					height: 34px;
					width: auto;
				}
			}
			nav{
				.absolute;
				.vertalign;
				right: 60px;
				ul, li{
					.nolist;
				}
				ul{
					li{
						a{
							font-weight: bold;
							text-transform: uppercase;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}


main.welcome{
	margin-top: @header-height-normal;
	padding-bottom: @footer-height;
}

@footer-height:106px;

main.int{
	padding-bottom: @footer-height;
}

.logo-in{
	padding: 11px 20px 11px 10px;
	img{
		height: 28px;
		width: auto;	
	}
}

.container-fluid{
	max-width: 1100px;
	margin:0 auto;
	padding:0 16px;
}

#carousel-balance{
	padding-bottom: 54px;
	.carousel-indicators{
		bottom: 0px;
	}
	.carousel-inner{
		.cont-balance{
			padding: 0 34px;
			.title-ppal{
				padding: 7px 14px;
				background: black;
				margin-bottom: 24px;
				.circle;
				font-size: 2.1rem;
				.inline-block;
				i.fa{
					margin-right: 8px;
				}
			}
			a{
				&:hover{
					text-decoration: none;
				}
			}
			.method-area{
				margin-bottom: 30px;
				.title-area{
					overflow: hidden;
					margin-bottom: 2px;
					.title{
						font-size: 1.6rem;
						text-transform: capitalize;
						i.fa{
							margin-right: 4px;
						}
					}
					.initial{
						float: right;
						font-size: 1.2rem;
						padding: 2px 14px;
						background: black;
						.circle;
					}
				}
				.progress{
					height: 26px;
					.circle;
					background: rgba(0,0,0,0.2);
					border-bottom:1px solid rgba(255,255,255,.08);
					.progress-bar{
						padding: 3px 0;
						// .circle;
					}
				}
			}
			.balance-card{
				.title{

				}
			}
		}
	}
	.carousel-control{
		width: 18px;
		background: none;
		i{
			.absolute;
			.totalalign;
		}
	}
}

.mount-box{
	pointer-events: none;
   cursor: default;
	text-align: left;
	.mount{
		margin-bottom: 0;
	}
}

.ope-box{
	pointer-events: none;
	margin-bottom: 20px;
	padding: 6px 10px;
	text-align: left;
	background: lighten(@black-blue, 5%);
	&:last-of-type{
		margin-bottom: 0;
	}
	.title, .cost, .travel{
		margin-bottom: 0;
	}
	.title{
		color: #f89406;
		font-size: 1.3rem;
		font-weight: lighter;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.date{
		text-align: right;
		font-size: 1rem;
		line-height: 2.1rem;
	}
	.cost{
		.relative;
		.icon{
			.absolute;
			right:0;
			.vertalign;
			font-size: 2rem;
		}
	}
	.mount{
		font-size: 4rem;
		span{
			font-size: 3rem;
		}
	}
}

.graph-status{
	border:5px solid rgba(255,255,255,0.25);
	width: 80%;
	background: black;
	overflow: hidden;
	.relative;
	.circle;
	&:before{
		.prop100;
	}
	.status-bar{
		.absolute;
		.w100;
		bottom:0;
		background: darken(#1fa6df, 10%);
	}
}

.switch{
	@padd:4px;
	padding: @padd;
	.circle;
	border:1px solid rgba(255,255,255,0.1);
	.relative;
	.backbuttons, .topbuttons, .middlebuttons{
		.circle;
		.button{
			.relative;
			.pointer;
			width: 30px;
			height: 30px;
			.circle;
			.pull-left;
			&:nth-child(1n+2){
				margin-left: @padd;
			}
			&:after{
				.prop100;
			}
			span{
				.absolute;
				.totalalign;
				font-weight: 600;
				font-size: 1.6rem;
				color: #777;
			}
			&.active{
				span{
					font-weight: 600;
					color: darken(@brand-success, 25%);
					-webkit-transition: color 0.6s ease;
					-moz-transition: color 0.6s ease;
					-ms-transition: color 0.6s ease;
					-o-transition: color 0.6s ease;
					transition: color 0.6s ease;
					text-shadow: 0 1px 0 rgba(255,255,255,0.6);
				}
			}
		}
	}
	.topbuttons{
		.relative;
		z-index: 2;
		.button{

		}
	}
	.backbuttons{
		z-index: 0;
		.absolute;
		top:@padd;
		left: @padd;
		background: black;
		.button{
		}
	}
	.middlebuttons{
		z-index: 1;
		.absolute;
		top:@padd;
		left: @padd;
		.button{
			background: @brand-success;
		}
	}
}

.stats{

	.name{
		text-align: center;
		font-size: 1.2rem;
		margin-bottom: 16px;
	}
	.titlearea{
		.title, .switch, .type{
			.inline-block;
		}
		.title{
			margin:0;
			margin-right: 20px;
			span.type{
				font-size: 1.8rem;
			}
		}
		.type{
			padding-top: 9px;
		}
		.switch{
			margin-right: 12px;
		}
	}
	.stats-detail{
		&.Spent{
			.mount{
				font-size: 1.7rem;
			}
		}		
		.legend{
			.nolist;
			li{
				.nolist;
				.block;
				margin-bottom: 5px;
				font-weight: 200;
				span{
					font-weight: 600;
				}
				.color{
					float:left;
					width: 18px;
					height: 18px;
					.circle;
					margin-right: 8px;
				}
			}
		}
	}
}
.graph-status-percent{
	border:5px solid rgba(255,255,255,0.25);
	width: 60%;
	background: black;
	overflow: hidden;
	margin: 0 auto;
	.relative;
	.circle;
	margin-bottom: 8px;
	&:before{
		.prop100;
	}
	.mount{
		.absolute;
		.totalalign;
		span{
			font-size: 0.8em;
		}
	}
}

.cont-slider{
	.relative;
	overflow: hidden;
	.textslider{
		.absolute;
		.totalalign;
		width: 80%;
		z-index: 2;
		text-align: center;
		.title{
			color: white !important;
			font-size: 5rem;
			margin: 0 0 35px;
			font-weight: 200;
			text-shadow: 0 0 4px rgba(0,0,0,.9);
		}
		.signup{
			border: 0;
		}
	}
}

.claims{
	background: white;
	padding: 40px 0 200px;
	.txt-center;
	.item{
		.icon{
			width:60%;
			margin: 0 auto;
			margin-bottom: 18px;
			img{
				.w100;
			}
		}
		.title{
			font-size: 2.3rem;
			color: #555;
			margin-bottom: 0;
			text-shadow:none;
		}
	}
}

.screen-dash{
	.print{
		margin-top: -120px;
		img{
			.brdr-rad-5;
			.w100;
		}
	}
}

/** SORTING SECC **/

.sorting-secc{
	.sort-shape, .sort-direction{
		margin-right: 22px;
	}
	.cap{
		margin-right: 5px;
		font-size: 1.2rem;
	}
}

/** END SORTING SECC **/

.newOperationButton, .newTravelButton{
	z-index: 2;
	.fixed;
	.hortalign;
	.circle;
	width: 90px;
	height: 90px;
	background: rgba(102, 204, 51, .2);
	border: 2px solid rgba(102, 204, 51, .3);
	bottom:20px;
	.pointer;
	i{
		.absolute;
		.totalalign;
		font-size: 4rem;
		color: rgba(0,0,0,.5);
		&.fa-spinner{
			.totalalign;
			top:28%; 
			left:28%; 
		}
	}
}

/** STARTING OPERATION SECC **/

#startingOperation{
	.modal-body{
		.content{
			.title{
				margin-bottom: 14px;
			}
			@margin-bottom-button:10px;
			@min-height-button:105px;
			@border-button:2px;
			.category-items{
				margin-bottom: 4px;
				ul.visible-area, li{
					.nolist;
				}
				ul.visible-area{
					height: auto;
				}
				ul.visible-area.mini{
					overflow: hidden;
					height: (@margin-bottom-button + @min-height-button)*2;
				}
				li{
					.inline-block;
					.relative;
					width: 32%;
					margin-right: 2%;
					margin-bottom: @margin-bottom-button;
					&:nth-child(3n+3){
						margin-right: 0;
					}
					label{
						.txt-center;
						background: #2e3338;
						padding: 8px;
						border: @border-button solid rgba(255,255,255,0.2);
						.transition(background, .2s, ease);
						.pointer;
						.brdr-rad-4;
						min-height: @min-height-button;
						.buttonCont{
							.icon{
								margin:0 auto;
								margin-bottom: 5px;
								img{
									.transition(opacity, .2s, ease);
									width: 50px;
									height: auto;
									opacity: 0.5;
								}
							}
							.cap{
								font-size: 1.1rem;
								white-space: pre-wrap;
								font-weight: 400;
							}
						}
					}
				}
				input[type="radio"]{
			    .absolute;
			    .totalalign;
			    z-index: 0;
				}
				input[type="radio"] + label{
					.block;
					.relative;
					z-index: 1;
				}
				input[type="radio"]:checked + label{
					background: #1c1e20;
					border: 2px solid #006699;

					.buttonCont{
						.icon{
							img{
								opacity: 1;
							}
						}
						.cap{
							color: orange;
						}
					}
				}
			}
			.view-more-cat{
				background: rgba(0,0,0,0.3);
				font-size: 1.2rem;
				.txt-center;
				padding: 3px;
				margin-bottom: 14px;
				.circle;
				.pointer;
				color: @brand-warning;
			}
			.methods-items{
				margin-bottom: 14px;
				ul, li{
					.nolist;
				}
				ul{
					text-align: center;
				}
				li{
					.inline-block;
					.relative;
					width: 32%;
					margin-right: 2%;
					margin-bottom: 10px;
					&:nth-child(3n+3){
						margin-right: 0;
					}
					label{
						.txt-center;
						background: #2e3338;
						padding: 8px;
						border: 2px solid rgba(255,255,255,0.2);
						.transition(background, .2s, ease);
						.pointer;
						.brdr-rad-4;
						.buttonCont{
							i{
								color: white;
								opacity: 0.5;
							}
							.cap{
								font-size: 1.1rem;
								font-weight: 400;
							}
						}
					}
				}
				input[type="radio"]{
			    .absolute;
			    .totalalign;
			    z-index: 0;
				}
				input[type="radio"] + label{
					.block;
					.relative;
					z-index: 1;
				}
				input[type="radio"]:checked + label{
					background: #1c1e20;
					border: 2px solid #006699;
					.buttonCont{
						i{
							opacity: 1;
							&.credit{
								color: @brand-warning;
							}
							&.cash{
								color: @brand-success;
							}
						}
						.cap{
							color: orange;
						}
					}
				}
			}
			
		}
	}
}

/** END STARTING OPERATION SECC **/

.optionals-fields-div{
	padding: 5px 9px;
	background:@gray-blue;
	.brdr-rad-3;
	margin-bottom: 20px;
}

/*** OPERATIONS - LIST ***/

.operation-items{
	margin:0 -1%;
	.elem-item{
		width: 48%;
		margin:1%;
		.box{
			.brdr-rad-5;
			.relative;
			border: 1px lighten(@black-blue, 10%) solid;
			background: @black-blue;
			padding: 10px 14px;
			.title{
				color: #f89406;
				font-size: 1.6rem;
				font-weight: lighter;
				margin-right: 75px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.date{
				float: right;
				font-size: 1.1rem;
				line-height: 2.4rem;
			}
			.spent{
				font-size: 4rem;
			}
			.fa.type{
				.absolute;
				right:14px;
				font-size: 2rem;
				span{
					display: none;
				}
			}
			.travel{
				margin-bottom: 0;
			}
			.actions{
				.absolute;
				bottom:10px;
				right: 10px;
				&, li{
					.nolist;
				}
				li{
					.inline-block;
					margin-left: 4px;
					button{
						height: 28px;
					}
				}
			}
		}
	}

	&.list{
		.elem-item{
			width: 100%;
			margin:0;
			margin-bottom: 8px;
			.box{
				& > div{
					display: inline-block;
				}
				.elem{
					float: initial;
					font-size: 1.4rem;
					margin: 0 1%;
					display: inline-block;
					vertical-align: middle;
				}
				.date{
					margin-left: 0;
					min-width: 10%;
				}
				.title{
					width: 24%;
				}
				& > i{
					width: 7%;
				}
				.spent{
					width: 12%;
				}
				.fa.type{
					position: initial;
				}
				.travel{
					width: 35%;
					margin-right: 0;
					padding-right: 72px;
				}
				.actions{
					.absolute;
					bottom:initial;
					right: 10px;
					.vertalign;
				}
			}
		}
	}
}


/*** END OPERATIONS - LIST ***/


/*** TRAVEL - LIST ***/

.travel-items{
	margin:0 -1%;
	.elem-item{
		width: 48%;
		margin:1%;
		.box{
			min-height: 115px;
			.brdr-rad-5;
			.relative;
			@paddLat:14px;
			@paddVert:10px;
			border: 1px lighten(@black-blue, 10%) solid;
			background: @black-blue;
			padding: @paddVert @paddLat;
			a{
				.h100;
				.block;
				&:hover{
					text-decoration: none;
				}
			}
			.name{
				font-size: 2.3rem;
				font-weight: lighter;
				padding-right: 121px;
				margin-bottom: 36px;
			}
			.date{
				.absolute;
				.circle;
				border-bottom: 1px solid rgba(255,255,255,0.08);
				right: @paddLat;
				background: darken(@black-blue, 3%);
				padding: 3px 8px;
				font-size: 1.1rem;
				&.datestart{
					top:@paddVert;
					.cap{
						// color: @brand-success;
					}
				}
				&.datefinish{
					top:38px;
					.cap{
						// color: @brand-warning;
					}
				}
				p{
					margin: 0;
				}
				.cap{
					margin-right: 4px;
					color: #666;
				}
				.cap, .dat{
					.inline-block;
				}
			}
			.budget{
				.absolute;
				left:@paddLat;
				bottom: @paddVert;
				.item{
					.inline-block;
					padding: 3px 10px;
					border-bottom: 1px solid rgba(255,255,255,0.08);
					background: darken(@black-blue, 3%);
					.circle;
					i, .dat{
						display: inline-block;
					}
					i{
						margin-right: 4px;
					}
					&.card{
						i{
							color: @brand-warning;
						}
					}
					&.debit{
						i{
							color: @brand-primary;
						}
					}
					&.cash{
						i{
							color: @brand-success;
						}
					}
					p{
						font-weight: lighter;
						font-size: 1.7rem;
						margin: 0;
					}
					&:first-of-type{
						margin-right: 4px;
					}
				}
			}
			.actions{
				.absolute;
				bottom:10px;
				right: 10px;
				&, li{
					.nolist;
				}
				li{
					.inline-block;
					margin-left: 4px;
					button{
						height: 28px;
					}
				}
			}
		}
	}

	&.list{
		.elem-item{
			width: 100%;
			margin:0;
			margin-bottom: 8px;
			.box{
				min-height: initial;
				& > div{
					display: inline-block;
				}
				.elem{
					float: initial;
					font-size: 1.4rem;
					margin: 0 1%;
					display: inline-block;
				}
				.name{
					margin-left: 0;
					min-width: initial;
					width: 26%;
					color: @brand-warning;
					padding-right: 0;
				}
				.date{
					position: initial;
					-webkit-border-radius: 0;
					border-radius: 0;
					border-bottom: 0;
					right: initial;
					background: none;
					padding: initial;
					font-size: 1.3rem;
					.inline-block;
					margin-right: 2%;
					&.datestart{
						top:initial;
					}
					&.datefinish{
						margin-right: 4.5%;
						top:initial;
					}
				}
				.budget{
					position: initial;
					left:initial;
					bottom: initial;
					.inline-block;
					.item{
						margin-right: 0;
						.inline-block;
						padding: 0;
						border-bottom: 0;
						background: none;
						-webkit-border-radius: 0;
						border-radius: 0;
						p{
							min-width: 72px;
							font-size: 1.4rem;
						}
						&:first-of-type{
							margin-right: 15px;
						}
					}
				}
				.actions{
					.absolute;
					bottom:initial;
					right: 10px;
					.vertalign;
				}
			}
		}
	}
}


/*** END TRAVEL - LIST ***/


/*** Category - LIST ***/

.edit-pic-category{
	figure, .actions{
		.inline-block;
		vertical-align: middle;
	}
	figure{
		width: 110px;
		height: 110px;
		.bgcontain;
		margin-right: 10px;
	}
	.actions{

	}
}

/*** END Category - LIST ***/


/**** BUTTON CIRCLE ****/

.circl-butt{
	@width:28px;
	.relative;
	.block;
	.circle;
	.pointer;
	width: @width;
	background: @gray-blue;
	border: 1px lighten(@gray-blue, 5%) solid;
	&:before{
		.prop100;
	}
	&:hover{
		i{
			font-size: 1.3rem;
			.opacity(1);
		}
		.back-circl{
			width: 28px;
			height: 28px;
			.transition(.2s, ease-out);
		}
	}
	i{
		font-size: 1.2rem;
		.opacity(0.6);
		z-index: 1;
	}
	i, .back-circl{
		.absolute;
		.totalalign;
	}
	.back-circl{
		.circle;
		z-index: 0;
		width: 0;
		height: 0;
	}
	&.circl-butt-danger{
		.back-circl{
			background: @brand-danger;
		}
	}
	&.circl-butt-warning{
		.back-circl{
			background: @brand-warning;
		}
	}
}

/**** END BUTTON CIRCLE ****/

.ui-widget-content{
	background: white;
	.border-radius(0, 0, 3px, 3px);
	color: #666;
	.ui-state-focus{
		font-weight: 600;
		color: black;
	}
}

footer{
	margin-top:-@footer-height;
	padding: 40px 0;
	background: darken(@gray-blue, 8%);
	.logo-footer, .legal{
		display: inline-block;
		vertical-align: middle;
	}
	.logo-footer{
		margin-right: 20px;
		img{
			height: 26px;
		}
	}
	.legal{
		p{
			margin: 0;
		}
	}
	.autor{
		padding-left:8px;
		text-decoration: none;
		cursor: pointer;
	}
}

.social-autor{
	&, li{
		.nolist;
	}
	li{
		.inline-block;
		margin-right: 4px;
	}
}
/****** FLEXSLIDER CUSTOM *******/

.slider{
	.h100;
	.flexslider{
		background: black;
		border:0 !important;
		.h100;
		ul{
			opacity: 0.65;
			.h100;
			li{
				.h100;
				.bgfull;
			}
		}
	}
}

/****** END FLEXSLIDER CUSTOM *******/

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 6px;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  .brdr-rad-3;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 	
	.ui-menu-item{
		padding: 2px 4px;
		.pointer;
	} 	
	.ui-menu-item.ui-state-focus{
		background: #eee;
		padding: 2px 4px;
	}

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.datepicker{
	z-index: 1060;
}

@import url('mediaqueries.less');